{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ page_text | raw }}</p>
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <legend>Company details</legend>
                <h2>Which company...?</h2>
                <select id='company_symbol' name='company_symbol' required>
                    {% for symbol, name in company_symbols %}
                        <option value="{{ symbol }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="{{ submit_button_text }}">
            </fieldset>
        </form>
    </div>
{% endblock %}

                       {#                <p><label for="$company_symbol">Company symbol:&nbsp;</label>#}
                        {#                    <input name="$company_symbol" type="text" id="$company_symbol" size="5" value="" maxsize="3"/></td>#}
                        {#                </p>#}
                        {#                <br>#}
                        {#                <input type="submit" value="{{ submit_button_text }}">#}
