{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <div class="vert-div">
            <h2> Messages from DB</h2>
            <table class="telemetry-readings">
                <thead>
                    <tr>
                        {% for header in table_headers %}
                        <td>
                            {{ header }}
                        </td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for message in messages_DB %}
                    <tr>
                        <td>{{ message.source_msisdn }}</td>
                        <td>{{ message.dest_msisdn }}</td>
                        <td>{{ message.received_time }}</td>
                        <td>{{ message.bearer }}</td>
                        <td>{{ message.device_id }}</td>
                        <td>{{ message.switch_a == 0 ? text_switch_off : text_switch_on }}</td>
                        <td>{{ message.switch_b == 0 ? text_switch_off : text_switch_on }}</td>
                        <td>{{ message.switch_c == 0 ? text_switch_off : text_switch_on }}</td>
                        <td>{{ message.switch_d == 0 ? text_switch_off : text_switch_on }}</td>
                        <td>{{ message.fan == 0 ? text_fan_rev : text_fan_fwd }}</td>
                        <td>{{ message.h_temp }}</td>
                        <td>{{ message.last_key }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href={{ home_page }} class="button-rounded"> {{ button_text_back }} </a>
    </div>
{% endblock %}
