{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <div class="vert-div">
            <p> {{ result_text }}</p>
            <a href={{ send_page }}> {{ button_text_again }} </a>
            <a href={{ home_page }}> {{ button_text_home }} </a>
        </div>
    </div>
{% endblock %}
