{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <div class="send-form-div">
            <p> {{ device_id_text }}</p>
            <form action={{ action }} method="post">
                <div class="vert-div">

                    <fieldset>
                        <label>{{ label_text_a }}</label>
                        <label for="chk_switch_a_on"> {{ label_text_switch_on }} </label>
                        <input type="radio" name="A" value="1" id="chk_switch_a_on">
                        <label for="chk_switch_a_off"> {{ label_text_switch_off }} </label>
                        <input type="radio" name="A" value="0" id="chk_switch_a_off">
                    </fieldset>

                    <fieldset>
                        <label>{{ label_text_b }}</label>
                        <label for="chk_switch_b_on"> {{ label_text_switch_on }} </label>
                        <input type="radio" name="B" value="1" id="chk_switch_b_on">
                        <label for="chk_switch_b_off"> {{ label_text_switch_off }} </label>
                        <input type="radio" name="B" value="0" id="chk_switch_b_off">
                    </fieldset>

                    <fieldset>
                        <label>{{ label_text_c }}</label>
                        <label for="chk_switch_c_on"> {{ label_text_switch_on }} </label>
                        <input type="radio" name="C" value="1" id="chk_switch_c_on">
                        <label for="chk_switch_c_off"> {{ label_text_switch_off }} </label>
                        <input type="radio" name="C" value="0" id="chk_switch_c_off">
                    </fieldset>

                    <fieldset>
                        <label>{{ label_text_d }}</label>
                        <label for="chk_switch_d_on"> {{ label_text_switch_on }} </label>
                        <input type="radio" name="D" value="1" id="chk_switch_d_on">
                        <label for="chk_switch_d_off"> {{ label_text_switch_off }} </label>
                        <input type="radio" name="D" value="0" id="chk_switch_d_off">
                    </fieldset>


                    <fieldset class="radio-group">
                        <p>{{ label_text_fan }}</p>
                        <label for="radio_fan"> {{ label_text_fan_fwd }} </label>
                        <input type="radio" name="FAN" value="1" id="radio_fan_fwd">
                        <label for="radio_fan_rev"> {{ label_text_fan_rev }} </label>
                        <input type="radio" name="FAN" value="0" id="radio_fan_rev">
                    </fieldset>

                    <label for="txt_temp"> {{ label_text_temp }} </label>
                    <input type="text" maxlength="5" size="5" name="H_TEMP" id="txt_temp">

                    <label for="txt_key"> {{ label_text_key }} </label>
                    <input type="number" maxlength="1" size="1" name="KEY" id="txt_key">

                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

    <script>

    </script>
{% endblock %}
