{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <div class="menu-div">
            <div>
                <a href={{ load_messages_page }}> {{ button_text_load }} </a>
                <a href={{ send_settings_page }}> {{ button_text_send }} </a>
            </div>
        </div>
    </div>
{% endblock %}
