{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <div class="horiz-div">
            <table class="telemetry-readings small">
                <thead>
                <tr>
                    <td>
                        {{ thead_1 }}
                    </td>
                    <td>
                        {{ thead_2 }}
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for setting_name, setting_value in current_settings %}
                    <tr>
                        <td>
                            {{ setting_name }}
                        </td>
                        <td>
                            {{ setting_value }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><div class="error-div">
                <p>
                    {{ text_error }}
                </p>
            </div>
            <img alt="chart for telemetry readings" src= {{ chart_location }}>
        </div>
        <div class="vert-div">
            <a href={{ home_page }} class="button-rounded"> {{ button_text_back }} </a>
        </div>
    </div>
{% endblock %}
